<div>
Home works!

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquid itaque suscipit optio pariatur rem dolores. Omnis nihil dignissimos, amet, eius distinctio minus nemo deleniti modi repudiandae deserunt ullam a!</p>

<div class="image-container">
    <img src="/pictures/barnen.jpg" alt="bild av barnen">
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, atque numquam maiores ratione dicta iure voluptatibus quia a fugiat quae accusamus aliquid, accusantium ab doloremque error mollitia vitae doloribus harum.</p>
</div>
